/* reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Set a default line-height */
html {
  line-height: 1.5;
  font-family: sans-serif;
}

/* Reset list styles */
ol,
ul {
  list-style: none;
}

/* Make block elements consistent */
body,
html {
  height: 100%;
  width: 100%;
  display: grid;
  box-sizing: border-box;
}

/* Add border-box model globally */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Ensure media elements behave consistently */
img,
video,
canvas {
  max-width: 100%;
  height: auto;
}